.row
  .span7
    .alert.alert-info
      =link_to("return",{:action=>:index},:class=>:close)
      回访用户明细
    %table.table.table-striped
      %tr
        %th 日期
        %th 当日新用户
        %th 7天回访用户数
        %th 7天回访用户比例
        %th 14天回访用户数
        %th 14天回访用户比例
      -@page_info.each do |info|
        %tr
          %td=format_date(info.day_date)
          %td=info.new_user_count
          %td=info.week_user_count
          %td=calc_percentage_to_s(info.week_user_count,info.new_user_count,0)
          %td=info.dweek_user_count
          %td=calc_percentage_to_s(info.dweek_user_count,info.new_user_count,0)

    =will_paginate(@page_info,:style=>'float:right;',:params=>{:controller => "statistics/revisit", :action => :daily_revisit_details_page});