!!!
%html
  %head
    %title UU_log分析
    =stylesheet_link_tag :loganalysis
    =stylesheet_link_tag :'sdmenu/sdmenu'
    =javascript_include_tag :loganalysis
    =javascript_include_tag 'sdmenu/sdmenu'
    =javascript_include_tag 'loganalysis/menu-init'
    =javascript_include_tag params[:controller]
    =csrf_meta_tags
  %body
    #banner
      .container_16
        .grid_4
          #logo UU_log分析工具
    .container_16#main
      /main
      .grid_4
        #left_menu.sdmenu
          %div
            %span 汇总
            =link_to("汇总详细",:action=>'index',:controller=>'loganalysis/analysis')
            =link_to("响应时间",:action=>'index',:controller=>'loganalysis/response')
            -#=link_to("Busline查询情况",:action=>'index',:controller=>'loganalysis/busline')
          %div
            %span 公交查询分析
            =link_to("公交站点",:action=>'index',:controller=>'loganalysis/busstop')
            =link_to("公交路线",:action=>'index',:controller=>'loganalysis/busline')
          %div
            %span 算路分析
            =link_to("路线计算",:action=>'index',:controller=>'loganalysis/rg')
            =link_to("公交算路",:action=>'index',:controller=>'loganalysis/travel_bus')
            =link_to("步行算路",:action=>'index',:controller=>'loganalysis/travel_walk')
          %div
            %span POI分析
            =link_to("名称检索",:action=>'index',:controller=>'loganalysis/poi_name')
            =link_to("周边检索",:action=>'index',:controller=>'loganalysis/poi_around')
            =link_to("城市拾取",:action=>'index',:controller=>'loganalysis/poi_area')
            =link_to("地点拾取",:action=>'index',:controller=>'loganalysis/poi_city')
            =link_to("未检索到poi",:action=>'index',:controller=>'loganalysis/losepoi')
          %div
            %span 地图分析
            =link_to("电子眼",:action=>'index',:controller=>'loganalysis/eeye')
            =link_to("地图匹配",:action=>'index',:controller=>'loganalysis/mm')
            =link_to("地图描画",:action=>'index',:controller=>'loganalysis/view')
      .grid_12
        =yield
