.grid_12.alpha
  .info-header
    =form_tag url_for(:action => :index),:method => :get do
      %span 公交站点查询次数 TOP 10 省市分布
      =text_field_tag('day',@day.strftime('%Y-%m-%d'))
      =submit_tag( '提交' )
  %ul.tabs.busstop-tabs
    %li
      %a{:href=>'#'}省市分布比例

  .panes.busstop-panes
    -#图表
    =high_chart('busstop-count-chart',@busstop_count_top_10_chart)

  .info-header 公交站点查询次数省市分布明细
  %table.new-silver-table{:cellspacing=>0,:cellpadding=>0,:width=>'100%',:style=>"margin-bottom:4px"}
    %tr
      %th 城市名称
      %th 查询次数
    -@page_info.each do |info|
      %tr
        %td=concat_string(info.province, info.city)
        %td=info.count
  %div{:style=>"float:right;padding-botton:10px",:class=>:digg_pagination}
    =link_to "点击查看更多",{:controller => "loganalysis/busstop", :action => :busstop_details_page},:class=>"next_page"