.row
  .span7
    .alert.alert-info
      =link_to("return",{:action=>:index},:class=>:close)
      设备型号分布分页明细
    %table.table.table-striped
      %tr
        %th 设备型号
        %th 用户比例
      -@page_info.each do |device_info|
        %tr
          %td=unknown_string(device_info.device_model)
          %td=device_info.login_user_count

    =will_paginate(@page_info,:style=>'float:right;',:params=>{:controller => "statistics/device", :action => :device_details_page});