.row
  .span7
    .alert.alert-info 版本变化趋势
    %ul.nav.nav-tabs#daily-tabs
      %li.active
        %a{:href=>'#daily-tabs-1'}新增用户
      %li
        %a{:href=>'#daily-tabs-2'}活跃用户
    .tab-content
      .tab-pane.active#daily-tabs-1
        =high_chart('new_user-by-daily-chart',@new_user_by_daily_chart)
      .tab-pane#daily-tabs-2
        =high_chart('login-by-daily-chart',@login_by_daily_chart)

.row
  .span7
    .alert.alert-info 全部版本统计
    %table.table.table-striped
      %tr
        %th 版本
        %th 累计用户（%）
        %th="新增用户 [#{format_date_show_day(@day)} 日]"
        %th="升级用户 [#{format_date_show_day(@day)} 日]"
        %th="启动用户（%）[#{format_date_show_day(@day)} 日]"
        //%th="启动用户（%）[#{format_date_show_day(@day-1.day)} 日]"
        //%th="启动次数 [#{format_date_show_day(@day)} 日]"
      -@now_version_infos.each do |version_info|
        %tr
          %td=version_info[:soft_version]
          //%td="#{version_info[:sum_user_count]}"
          %td="#{version_info[:sum_user_count]} (#{calc_percentage_to_s(version_info[:sum_user_count],@total_user_count)})"
          %td=version_info[:new_user_count]
          %td=version_info[:update_user_count]
          %td="#{version_info[:login_user_count]} (#{calc_percentage_to_s(version_info[:login_user_count],@today_user_login_count)})"
          //%td="#{version_info.yest_login_count} (#{calc_percentage_to_s(version_info.yest_login_count,@yesterday_user_login_count)})"
          //%td=version_info[:login_count]
