$content_font_size:18px;
$content_top_margin:2px;

.total_title{
    font-size:16px;
    text-align:center;
}
.total_yesterday_count{
    margin-top:$content_top_margin;
    font-size:$content_font_size;
    padding-left:30px;
}
.total_today_count{
    margin-top:$content_top_margin;
    font-size:$content_font_size;
    padding-left:30px;
}
.total_count{
    margin-top:25px;
    font-size:30px;
    color: #4B9619;
    text-align:center;
}
.date_label{
    padding: 12px 5px 0 0;
    font-size:10px;
}
.number{
    color: #4B9619;
    font-size: 25px;
}
hr{
    margin-bottom:10px;
}