.grid_12.alpha
  .info-header
    =form_tag url_for(:action => :index),:method => :get do
      %span Poi周边检索次数省市分布明细
      =text_field_tag('day',@day.strftime('%Y-%m-%d'))
      =submit_tag( '提交' )
  %table.new-silver-table{:cellspacing=>0,:cellpadding=>0,:width=>'100%'}
    %tr
      %th 大分类
      %th 中分类
      %th 检索次数
    -@page_info.each do |info|
      %tr
        %td=info.max_name
        %td=info.mid_name
        %td=info.count
  =will_paginate(@page_info,:style=>'float:right;',:params=>{:controller => "loganalysis/poi_around", :action => :index});
