.row
  .span7
    .alert.alert-info
      =link_to("return",:back,:class=>:close)
      用户明细
    %table.table.table-striped
      %tr
        %th 设备型号
        %th 操作系统
        %th 分辨率
        %th 运营商
        %th 联网方式
      -unless @user.nil?
        %tr
          %td=@user.device_model
          %td=@user.os_version
          %td=@user.resolution
          %td=@user.carrier
          %td=@user.connect_type
      -else
        %tr
          %td 用户信息不存在

