.grid_12.alpha
  .info-header
    =form_tag url_for(:action => :index),:method => :get do
      %span log总结
      =text_field_tag('day',@day.strftime('%Y-%m-%d'))
      =submit_tag( '提交' )
  %ul.tabs.sum-percentage-tabs
    %li
      %a{:href=>'#'}类型分布

  .panes.sum-percentage-panes
    -#图表
    =high_chart('sum-percentage-chart',@sum_types_pie)

  .info-header 查询次数的月变化趋势
  =high_chart('count-by-daily-chart',@count_by_daily_chart)

  .info-header 次数分布明细
  %table.new-silver-table{:cellspacing=>0,:cellpadding=>0,:width=>'100%',:style=>"margin-bottom:4px"}
    %tr
      %th 名称
      %th 次数
    -@sum_count_data.keys.each do |key|
      %tr
        %td=unknown_string(key)
        %td=@sum_count_data[key]
