.row
  .span7
    .alert.alert-info
      =link_to("return",{:action=>:index},:class=>:close)
      每日明细--分页信息
    %table.table.table-striped
      %tr
        %th 日期
        %th 新用户
        %th 累计用户
        %th 启动用户
        %th 启动次数
      -@page_info.each do |base_info|
        %tr
          %td=format_date(base_info.day_date)
          %td=base_info.new_user_count
          %td=base_info.sum_user_count
          %td=base_info.login_user_count
          %td=base_info.login_count
    =will_paginate(@page_info,:style=>'float:right;',:params=>{:controller => "statistics/main", :action => :daily_stats_details_page});
