.row
  .span7
    .alert.alert-info 基本统计
    %table.table.table-striped
      %tr
        %th="#"
        %th 启动次数
        %th 启动用户
        %th 新用户
        %th 新用户比例
        %th 升级用户
        %th 降级用户
        %th 活跃率
        %th 平均使用时长
      -unless @today_result.nil?
        %tr
          %td="#{format_date_show_day(@day)}日"
          %td=@today_result[:login_count]
          %td=@today_result[:login_user_count]
          %td=@today_result[:new_user_count]
          %td=calc_percentage_to_s(@today_result[:new_user_count],@today_result[:login_user_count])
          %td=@today_result[:update_user_count]
          %td=@today_result[:degrade_user_count]
          %td=calc_percentage_to_s(@today_result[:login_user_count],@total_user_count)
          %td=@today_result[:average_use_time]
      -unless @yesterday_result.nil?
        %tr
          %td="#{format_date_show_day(@day-1.day)}日"
          %td=@yesterday_result[:login_count]
          %td=@yesterday_result[:login_user_count]
          %td=@yesterday_result[:new_user_count]
          %td=calc_percentage_to_s(@yesterday_result[:new_user_count],@yesterday_result[:login_user_count])
          %td=@yesterday_result[:update_user_count]
          %td=@yesterday_result[:degrade_user_count]
          %td=calc_percentage_to_s(@yesterday_result[:login_user_count],@total_user_count)
          %td=@yesterday_result[:average_use_time]

    #total_active_info_page_load{:"data-app-url"=>"#{url_for(:action => :total_active_info_page)}"}
      .progress.progress-striped.active
        #total_active_info_page_load_bar.bar{:style=>"width: 95%;"}累计用户及活跃用户数据加载中........

-#趋势分析
.row
  .span7
    .alert.alert-info 趋势分析
.row
  .span7
    %ul.nav.nav-tabs#daily-tabs
      %li.active
        %a{:href=>'#daily-tabs-1'}新用户
      %li
        %a{:href=>'#daily-tabs-2'}累计用户
      %li
        %a{:href=>'#daily-tabs-3'}启动用户
      %li
        %a{:href=>'#daily-tabs-4'}启动次数
      %li
        %a{:href=>'#daily-tabs-5'}使用时长
      %li.dropdown
        %a.dropdown-toggle{:href=>'#',:"data-toggle"=>:dropdown}
          使用流量
          %b.caret
        %ul.dropdown-menu
          %li
            %a{:href=>'#daily-tabs-6',:"data-toggle"=>"tab"}平均上传流量
          %li
            %a{:href=>'#daily-tabs-7',:"data-toggle"=>"tab"}平均下载流量
    .tab-content
      .tab-pane.active#daily-tabs-1
        =high_chart('installations-by-daily-chart',@installations_by_daily_chart)
      .tab-pane#daily-tabs-2
        =high_chart('total-installations-by-daily-chart',@total_installations_by_daily_chart)
      .tab-pane#daily-tabs-3
        =high_chart('active-users-split-by-daily-chart',@active_users_split_by_daily_chart)
      .tab-pane#daily-tabs-4
        =high_chart('launches-by-daily-chart',@launches_by_daily_chart)
      .tab-pane#daily-tabs-5
        =high_chart('average_time-by-daily-chart',@average_time_by_daily_chart)
      .tab-pane#daily-tabs-6
        =high_chart('average_traffics_up-by-daily-chart',@average_traffics_up_by_daily_chart)
      .tab-pane#daily-tabs-7
        =high_chart('average_traffics_down-by-daily-chart',@average_traffics_down_by_daily_chart)

    %br


-#每日明细
.row
  .span7
    .alert.alert-info 每日明细
    %table.table.table-striped
      %tr
        %th 日期
        %th 新用户
        %th 累计用户
        %th 启动用户
        %th 启动次数
      -@page_info.each do |base_info|
        %tr
          %td=format_date(base_info.day_date)
          %td=base_info.new_user_count
          %td=base_info.sum_user_count
          %td=base_info.login_user_count
          %td=base_info.login_count
    %div{:style=>"float:right;padding-botton:10px",:class=>:digg_pagination}
      =link_to "点击查看更多",{:controller => "statistics/main", :action => :daily_stats_details_page},:class=>"next_page"
