%table.table.table-striped
  %tr
    %th 累计用户
    %th 累计启动
    %th 7天活跃
    %th 14天活跃
    %th 30天活跃
    %th 90天活跃
    %th 180天活跃
  %tr
    %td=@today_result.sum_user_count
    %td=@total_launches_count.round(0)
    %td="#{(@today_result.active_7day_rate*100).round(2)}%"
    %td="#{(@today_result.active_14day_rate*100).round(2)}%"
    %td="#{(@today_result.active_30day_rate*100).round(2)}%"
    %td="#{(@today_result.active_90day_rate*100).round(2)}%"
    %td="#{(@today_result.active_180day_rate*100).round(2)}%"