!!!
%html
  %head
    %title UU_用户统计
    =stylesheet_link_tag :statistics
    =javascript_include_tag :statistics
    =javascript_include_tag params[:controller]
    =yield :css
    =csrf_meta_tags
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.btn.btn-navbar(data-target=".nav-collapse" data-toggle="collapse")
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          #logo
            =link_to("UU用户统计工具",{:action=>'index',:controller=>'statistics/total'},:class=>'brand')
    .container#main
      =yield
