.grid_12.alpha
  .info-header 未检索到poi名称查询次数省市分布明细
  %table.new-silver-table{:cellspacing=>0,:cellpadding=>0,:width=>'100%'}
    %tr
      %th losepoi名称
      %th 城市名称
      %th 查询次数
    -@page_info.each do |info|
      %tr
        %td=info.name
        %td=info.city
        %td=info.count
  =will_paginate(@page_info,:style=>'float:right;',:params=>{:controller => "loganalysis/losepoi", :action => :index});
