.row
  .span7
    .alert.alert-info
      %form{:method=>'get',:class=>"info-inline-form" }
        查询版本:
        %input{:name=>'soft_version_code',:value=>params[:soft_version]}
        %input{:type=>'submit'}
    %table.table.table-striped
      %tr
        %th 错误摘要
        %th(style="width:50px")  版本
        %th(style="width:60px") 异常总数
      -@page_info.each do |info|
        %tr
          %td=info.log
          %td=info.soft_version_code
          %td=info.count

    =will_paginate(@page_info,:style=>'float:right;',:params=>{:controller => "statistics/except_version", :action => :index});

