.row
  .span7
    .alert.alert-info
      =form_tag url_for(:action => :index),:method => :get,:class=>"info-inline-form" do
        %span TOP 10 设备分辨率时间查询
        =text_field_tag('day',@day.strftime('%Y-%m-%d'))
        =submit_tag( '提交',:class=>"btn btn-info" )

    %ul.nav.nav-tabs#resolution-chart-tabs
      %li.active
        %a{:href=>'#resolution-chart-tabs-1'}活跃用户
      %li
        %a{:href=>'#resolution-chart-tabs-2'}新增用户
        
    .tab-content
      .tab-pane.active#resolution-chart-tabs-1
        =high_chart('sum-user-count-resolution-chart',@sum_user_count_device_chart)
      .tab-pane#resolution-chart-tabs-2
        =high_chart('new-user-count-resolution-chart',@new_user_count_device_chart)
        
.row
  .span7
    .alert.alert-info 设备分辨率分布明细
    %table.table.table-striped
      %tr
        %th 分辨率
        %th 用户比例
      -@page_info.each do |info|
        %tr
          %td=unknown_string(info.resolution)
          %td=info.login_user_count
    %div{:style=>"float:right;padding-botton:10px",:class=>:digg_pagination}
      =link_to "点击查看更多",{:controller => "statistics/resolution", :action => :resolution_details_page},:class=>"next_page"