.row
  .span7
    .alert.alert-info
      %form{:method=>'get',:class=>"info-inline-form" }
        查询版本:
        %input{:name=>'day_date',:value=>params[:day_date]}
        %input{:type=>'submit'}
    %table.table.table-striped
      %tr
        %th 错误摘要
        %th(style="width:50px")  时间
        %th(style="width:60px") 异常总数
      -@page_info.each do |info|
        %tr
          %td=info.log
          %td=format_date(info.day_date)
          %td=info.count

    =will_paginate(@page_info,:style=>'float:right;',:params=>{:controller => "statistics/except_day", :action => :index});

