/*top banner*/
#banner{
    background-image: image-url("common/banner.jpg");
    background-repeat: no-repeat;
    height:50px;
    overflow: hidden;
}
/*logo*/
#logo{
 font-size: 16px;
 font-weight:bold;
 color: #f0f8ff;
 padding-top:5px;
}
/*main*/
#main{
 margin-top:10px;
}
/*menu*/

#left_menu{
 width:220px;
 margin-left: 20px;
}

#app_label{
    border-radius: 10px;
    margin-top:10px;
    background-color:  #F4F4F4;
    padding:20px 0px;
}

#name_label{
    margin-left:10px;
}

#key_label{
    background-color:  #FFFFFF;
    font-size:10px;
    margin:10px 0 0 3px;
    width:214px;
}

/*Title*/
.info-header{
    background-image: image-url("common/info-header-title.jpg");
    background-repeat: no-repeat;
    height: 29px;
    margin: 0 0 2px;
    padding: 8px 10px 0 20px;
    font-weight: bold;
    color: #444;
    font-size: 14px;
}
.sub-info-header{
    background-color: #F4F4F4;
    margin: 0 0 5px;
    color: #444;
    height: 29px;
    padding: 8px 10px 0 20px;
    font-weight: bold;
    font-size: 14px;
}
/*Table*/

.new-silver-table {
    border: 1px solid #999;
}

.new-silver-table th {
    border-bottom: 1px solid #999;
    background-color: #efefef;
    color: #444;
    font-weight: normal;
    text-align: left;
}

.new-silver-table tr th,
.new-silver-table tr td {
    vertical-align: top;
    padding: 5px 4px 4px 10px;
    color: #161616;
}

.new-silver-table th,
.new-silver-table td {
    border-left: 1px #d8d7d7 solid;
}

.new-silver-table th.new_silver_first_n,
.new-silver-table td.new_silver_first_n {
    border-left: 0;
}

.new-silver-table tr.new_silver_even td {
    background-color: #f1f7ff;
}

.new-silver-table tr.current td {
    background-color: #dbe7f8;
}

.new-silver-table tr.current table.new-silver-table tr.new_silver_odd td {
    background-color: #fff;
}

.new-silver-table tr.current table.new-silver-table tr.new_silver_even td {
    background-color: #f1f7ff;
}

.new-silver-table tr.current table.new-silver-table tr.current td {
    background-color: #dbe7f8;
}

.new-silver-table tr.tr_row td {
    border: none;
}

.new-silver-table td.next_activity_stat_td {
    border-left: 0;
}

/* benchmark_tips */
.benchmark_tips{
    margin: 2px auto;
    width: 100%;
    line-height: 20px;
    color: #444;
    border: 1px solid #CCCCCC;
    padding: 0 20px;
}

.benchmark_tips tbody tr td {
    padding: 4px 0px 5px 5px;
    line-height: 180%;
}

.benchmark_tips span {
    color: #05c;
    margin-right: 10px;
}
/*提示信息中的form表单*/
.info-inline-form{
    display:inline;
    margin:0;
    margin-left:10px;
    padding:0
}
.info-inline-form *{
    margin:0;
}