.row
  .span7
    .info-header 使用时长分布 - 按周对比
    .sub-info-header 选择时段
    =high_chart('duration_seconds_distribution_column_chart',@column_stacking_demo)
    .info-header 使用时长分布
    =high_chart('duration_seconds_distribution_bar_chart',@bar_demo)