.row
  .span7
    .alert.alert-info 日趋势变化
    %ul.nav.nav-tabs#channel-daily-tabs
      %li.active
        %a{:href=>'#channel-daily-tabs-1'}新增用户
      %li
        %a{:href=>'#channel-daily-tabs-2'}活跃用户
      %li
        %a{:href=>'#channel-daily-tabs-3'}启动次数
    .tab-content
      .tab-pane.active#channel-daily-tabs-1
        =high_chart('new_user_by_daily_chart',@new_user_by_daily_chart)
      .tab-pane#channel-daily-tabs-2
        =high_chart('active_users_by_daily_chart',@active_users_by_daily_chart)
      .tab-pane#channel-daily-tabs-3
        =high_chart('login_count_by_daily_chart',@login_count_by_daily_chart)
-#新用户概况
.row
  .span7
    .alert.alert-info 新用户概况

    %ul.nav.nav-tabs#new-user-chart-tabs
      %li.active
        %a{:href=>'#new-user-chart-tabs-1'}设备
      %li
        %a{:href=>'#new-user-chart-tabs-2'}省市
      %li
        %a{:href=>'#new-user-chart-tabs-3'}版本

    .tab-content
      .tab-pane.active#new-user-chart-tabs-1
        =high_chart('new-user-percentage-device-chart',@new_user_percentage_device_chart)
        %div{:style=>"float:right;padding-botton:10px", :class=>:digg_pagination}
          =link_to "点击查看更多",{:controller => "statistics/channel_detail", :action => :more_details_page, :flag=>1}, :class=>"next_page"
      .tab-pane#new-user-chart-tabs-2
        =high_chart('new-user-percentage-region-chart',@new_user_percentage_region_chart)
        %div{:style=>"float:right;padding-botton:10px", :class=>:digg_pagination}
          =link_to "点击查看更多",{:controller => "statistics/channel_detail", :action => :more_details_page, :flag=>2}, :class=>"next_page"
      .tab-pane#new-user-chart-tabs-3
        =high_chart('new-user-percentage-version-chart',@new_user_percentage_version_chart)
        %div{:style=>"float:right;padding-botton:10px", :class=>:digg_pagination}
          =link_to "点击查看更多",{:controller => "statistics/channel_detail", :action => :more_details_page, :flag=>3}, :class=>"next_page"