.row
  .span7
    .alert.alert-info
      =link_to("return",{:action=>:index},:class=>:close)
      分页明细列表
    %table.table.table-striped
      %tr
      -if @flag.to_i == 1
        %th 设备型号
        %th 用户比例
        -@page_info.each do |device_info|
          %tr
            %td=unknown_string(device_info.device_model)
            %td=device_info.new_user_count

      -if @flag.to_i == 2
        %th 省市
        %th 用户比例
        -@page_info.each do |region_info|
          %tr
            %td=unknown_string(region_info.province)
            %td=region_info.new_user_count

      -if @flag.to_i == 3
        %th 版本
        %th 用户比例
        -@page_info.each do |version_info|
          %tr
            %td=unknown_string(version_info.soft_version)
            %td=version_info.new_user_count
    =will_paginate(@page_info,:style=>'float:right;',:params=>{:controller => "statistics/channel_detail", :action => :more_details_page})