div.sdmenu {
	width: 150px;
	font-family: Arial, sans-serif;
	font-size: 13px;
	padding-bottom: 10px;
	background: #ffffff;
	color: #fff;
}

div.sdmenu div {
	background: image-url("sdmenu/title.gif") repeat-x;
	overflow: hidden;
}

div.sdmenu div:first-child {
	background: image-url("sdmenu/title.gif") repeat-x;
}

div.sdmenu div.collapsed {
	height: 25px;
}

div.sdmenu div span {
	display: block;
	padding: 5px 25px;
	font-weight: bold;
	color: #000000;
	background: image-url("sdmenu/expanded.gif") no-repeat 10px center;
	cursor: default;
	border-bottom: 1px solid #ddd;
}

div.sdmenu div.collapsed span {
	background-image: image-url("sdmenu/collapsed.gif");
}

div.sdmenu div a,div.sdmenu div a:link,sdmenu div a:visited {
	list-style-type: circle;
	list-style-position: outside;
	padding: 5px 35px;
	background: #fff image-url("sdmenu/dot.gif") no-repeat 20px center;
	display: block;
	border-bottom: 1px solid #ddd;
	text-decoration: none;
    color:black;
}


div.sdmenu div a:hover,div.sdmenu div a.cur-page {
	background: #cbd9d9 image-url("sdmenu/linkarrow.gif") no-repeat right
		center;
	color: #fff;
	text-decoration: none;
}
